<%# <form action="/users" method="post" accept-charset="utf-8">


  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="use[password]"
         required><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]"><br><br>

  <input type="submit" value="Submit">
</form>
%>


<%# <%= form_tag("/users", method: "post") do %>
<%# <%= label_tag(:username, 'username')%>
<%#  <%= text_field_tag(:username) %>
<%# <%= label_tag(:password, "Password") %>
<%# <%= password_field_tag(:password) %>
<%#  <%= label_tag(:email, "Email:") %>
<%#  <%= email_field_tag(:email) %>
<%#  <%= submit_tag('Submit') %>
<%# <% end %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>\
    <h4><%= message %> </h4>
  <%end%>
<%end%>


<%= form_with model: @user do |form| %>
  <br><br>
  Username: <%= form.text_field :username %><br><br>
  Password: <%= form.text_field :password %><br><br>
  <%= form.label :email %>
  <%= form.text_field :email %><br><br>
  <%= form.submit "Create" %>
<% end %>